html {
  font-family: sans-serif;
}

#map {
  width: 90%;
  height: 30rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form {
  text-align: center;
  margin: 2rem auto;
}

#weather {
  width: 220px;
  height: 320px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weatherbox {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 0.6rem;
  background-color: rgb(201, 235, 236);
  border: 0.3px solid grey;
}

h3 {
  margin: 0;
}
